[Unit]
Description=Cartola Helper Flask Application
After=network.target

[Service]
User=www-data
Group=www-data
WorkingDirectory=/var/www/cartola
Environment="PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/var/www/cartola/venv/bin"
ExecStart=/var/www/cartola/venv/bin/gunicorn --workers 3 --bind 127.0.0.1:5000 app:app
Restart=always

[Install]
WantedBy=multi-user.target

